@model MvcApp.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <fieldset>
        <legend>Person</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Age)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
 @Html.ActionLink("Back to List", "Edit")
    </p>

    @Html.Partial("PartailCheckModel", Model)
</body>
</html>
